/* 
Color palette used:
#BFB5AF (light taupe)
#ECE2D0 (cream)
#D5B9B2 (soft pink)
#A26769 (dark rose red)
*/

/* page style */

body {
    font-family: Arial;
    margin: 0;
    background-color: #ECE2D0;
}

/* header */
header {
    background-color: #A26769;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:last-child{
    text-align: right;
}

/* footer */
footer {
    background-color: #A26769;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navigation */
nav{
    text-align: center;
    flex: 1;
}

nav a {
    color: white;
    margin: 0 15px;
    cursor: pointer;
}
nav a:hover {
    text-decoration: underline;
}

/* views hidden by default */
.view {
    display: none;
    padding: 20px;
}

/* show home */
#homeView {
    display: block;
}

/*cart badge style*/
.cart-badge {
    background: #D5B9B2;
    color: black;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
}

/*popup style*/
.popup {
    display: none;
    background: #BFB5AF;
    padding: 20px;
    position: fixed;
    top: 30%;
    left: 40%;
    border: 2px solid #A26769;
}

/* card style*/
.card {
    background: white;
    border: 1px solid #BFB5AF;
    padding: 10px;
    margin: 10px;
}

.main-container {
    width: 80%;
    margin: 20px auto; /* centers it */
    border: 2px solid #BFB5AF;
    background-color: white;
    min-height: 400px;
    padding: 20px;
}